/*SECTION 2*/
@media(max-width:768px) {
    .lo-vi-song-about {
        left: 10% !important;
        bottom: 30% !important;
    }

    .section-about-2 {
        padding-top: 80px;
    }

    .section-about-2 .list-icon-home {
        margin-top: 24px !important;
        gap: 40px !important;
    }
}

@media(max-width:576px) {
    .section-about-2 {
        padding-top: 60px;
    }

    .girl-section-2 {
        width: 70% !important;
    }

    .lo-vi-song-about {
        left: 15% !important;
        bottom: 32% !important;
        width: 38.6vw !important;
    }

    .motive-item {
        padding: 8px !important;
    }
}

/*SECTION 3*/
@media(max-width:992px) {
    .gallery-mobile-container img {
        -o-object-fit: cover;
        object-fit: cover;
    }

    .gallery-mobile-1 {
        height: 51.9vw;
    }

    .gallery-mobile-2, .gallery-mobile-3 {
        height: 25.3vw;
    }

    .gallery-mobile-4 {
        height: calc(50.6vw + 16px);
    }
}

/*SECTION 5*/
@media(max-width:768px) {

    .box-inner {
        padding: 24px 16px !important;
    }
}