@media(max-width:992px) {

    .form-container {
        max-width: 100% !important;
    }

    .box-inner {
        padding: 12px !important;
    }

    .icon-title {
        font-size: 18px !important;
    }

    .icon-box img {
        width: 32px !important;
        height: 32px !important;
    }

    .section-dai-ly-2 {
        background-image: url('../../assets/image/bg-section-dai-ly-2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 80px;
    }

    .background-section-3 {
        right: -25px;
        pointer-events: none;

    }

    .box-section-3 {
        margin-top: -70px;
    }
}